@import "tailwindcss";
@import "tailwindcss-animated";
@plugin "@tailwindcss/typography";

/* Import DaisyUI and imports Light and Dark themes only */

@plugin "daisyui";

/* Customizing DaisyUI Themes */

@plugin "daisyui/theme" {
  name: "dark";
  colors-scheme: dark;
  prefersdark: true;
  --color-primary: hsl(338, 100%, 50%);
  --color-secondary: hsl(193, 100%, 52%);
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  colors-scheme: light;
  --color-primary: hsl(338, 100%, 50%);
  --color-secondary: hsl(193, 100%, 52%);
}

/* Adding Rubik font */

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik.woff2") format("woff2");
}

@theme {
  --font-sans: "Rubik";
}
