@import "tailwindcss";
@import "tailwindcss-animated";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: hsl(338, 100%, 50%);
  --color-secondary: hsl(193, 100%, 52%);
  --color-light: hsl(202, 24%, 93%);
  --color-dark: hsl(222, 17%, 15%);
}
