---
import Prose from "../layouts/Prose.astro"
import { getLangFromUrl, useTranslations } from "../i18n/utils"

interface Props{
    title?: string,
    summary?: string
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const {title="Contact me", summary="You can contact me through my <email>email (julionate@pm.me)</email>. I'll try to answer as soon as possible!"} = Astro.props
const newTag = "a href='mailto:julionate@pm.me'"
const transformEmail =  summary.replace(/<email>/g, `<${newTag}>`).replace(/<\/email>/g, `</${newTag}>`);

---
<section id={t("nav.contact")} class="animate-fade-left animate-delay-600">
    <Prose>
        <h2>{title}</h2>
        <span set:html={transformEmail}></span>
    </Prose>
</section>