---
import { getLangFromUrl, useTranslations } from "../i18n/utils"
import { LanguageSelector } from "./Buttons/LanguageSelector"
import { ThemeToggleBtn } from "./Buttons/ThemeToggleBtn"
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const links = [{Label: t("nav.presentation"), Url: `#${t("nav.presentation")}`}, {Label: t("nav.projects"), "Url": `#${t("nav.projects")}`}, {Label: t("nav.contact"), Url: `#${t("nav.contact")}`}]
---

<header class="relative w-screen h-12 shadow-md flex justify-start items-center sm:justify-center text-sm sm:text-base md:text-lg lg:text-xl shadow-base-200 px-4 gap-2 bg-base-100 z-10">
    <ul class="font-normal flex *:not-last:after:content-['・'] bg-gradient-to-l from-primary to-fuchsia-400 bg-clip-text">
        {links.map(({Label, Url}) => 
            <li><a href={Url} class="inline-block hover:text-transparent hover:-translate-y-0.5 transition-all">{Label}</a></li>
        )}
    </ul>
    <div class="absolute right-6">
        <LanguageSelector client:load lang={lang}/>
        <ThemeToggleBtn client:only="Preact" lang={lang}>
            <div class="dropdown dropdown-end" slot="fallback">
                <div class="btn btn-xs sm:btn-sm md:btn-md btn-block btn-ghost font-medium rounded-lg">Theme
                    <svg
                    width="12px"
                    height="12px"
                    class="inline-block h-2 w-2 fill-current opacity-60"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 2048 2048"
                    >
                    <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
                  </svg>
                </div>
            </div>
        </ThemeToggleBtn>
    </div>
</header>