---
import Layout from '../../layouts/Layout.astro';
import Main from '../../layouts/Main.astro';
import Hero from '../../components/Hero.astro'
import Presentation from '../../components/Presentation.astro'
import Projects from '../../components/Projects.astro'
import Contact from '../../components/Contact.astro'
import ContentSide from '../../layouts/Contentside.astro';
---

<Layout>
	<Hero/>
	<Main>
		<Presentation title="¡Hola, soy Julio!" description="Soy un desarrollador fullstack al que le gusta mucho trabajar y aprender algo nuevo cada día." mySocials="Mis redes" myKnowledges='Mis conocimientos'/>
		<ContentSide>
			<Projects title='Mis proyectos' summary='Estos son mis proyectos, puedes darles un vistazo!'/>
			<Contact title='Contáctame' summary='Puedes contactarme a través de mi <email>correo electrónico (julionate@pm.me)</email>. Trataré de responder lo más pronto posible.'/>
		</ContentSide>
	</Main>
</Layout>
